<div class="w-full mt-6 md:mt-20" id="cate-by-tab-section" data-section-load="cateByTab">
    <!-- Header Section -->
    <div class="flex items-center justify-between" data-section-load="animation">
        <h2 class="text-title-section custom-fadeInUp font-eina02" data-step-animate="1">{{theme_settings.homeBrandHeading}}</h2>
        <a href="{{theme_settings.homeBrandAllLink}}" class="flex items-center font-medium text-red-600 hover:text-red-700 group custom-fadeInUp" data-step-animate="3">
            <span class="text-sm font-semibold font-tight">{{theme_settings.homeBrandAllText}}</span>
            <svg class="w-[24px] h-[24px] rotate-270 stroke-[#C51414]">
                <use href="#svg-arrow-down"></use>
            </svg>
        </a>
    </div>

    <!-- Brands Grid -->
    <div class="flex flex-col mt-9 max-sm:mr-[-16px]">
        <ul class="flex lists-title-tab gap-3 mb-7 max-content overflow-x-auto scroll-none max-md:pb-[15px]">
            {{#each (split theme_settings.homeBrandIds ",")}}
                <li class="text-black text-[14px] py-[3px] px-4 border-[1px] border-black leading-[1.35] rounded-md tab-item hover:bg-black duration-300 hover:text-white " data-title-id="{{this}}"></li>
            {{/each}}
        </ul>
        <div class="relative py-0 tab-content" data-section-load="animation">
            {{#each (split theme_settings.homeBrandIds ",")}}
                <div class="tab-pane fade" id="tab-{{this}}" role="tabpanel" aria-labelledby="tab-{{this}}">
                    <div class="tab-content-item">
                        {{#if @first}}
                            {{#for 1 5}}
                                {{> components/jas/home/product-loading}}
                            {{/for}}
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
