<div class="productCarousel-slide product-loading overflow-hidden" aria-hidden="false">
    <article class="card" data-test="card-101" data-event-type="list" data-entity-id="101" data-product-id="101"
        data-position="4" data-name="Wireless Bluetooth Headphones - Model X100"
        data-product-category="Electronics,Audio,Headphones" data-product-brand="SoundMax" data-product-price="49.99"
        data-section-load="animation">
        <figure class="card-figure relative">
            <a href="/wireless-bluetooth-headphones-model-x100/" class="card-figure__link custom-fadeZoom"
                data-step-animate="1" aria-label="Wireless Bluetooth Headphones - Model X100, $59.00, $49.99"
                data-event-type="product-click" tabindex="-1">
                <div class="card-img-container skeletor-loading max-w-[100%]"></div>
            </a>
        </figure>
        <div class="card-body">
            <p class="card-text-brand skeletor-loading" data-test-info-type="brandName"></p>
            <h3 class="card-title line-clamp-2 skeletor-loading">
                <a aria-label="Wireless Bluetooth Headphones - Model X100, $59.00, $49.99"
                    href="/wireless-bluetooth-headphones-model-x100/" data-event-type="product-click"
                    class="text-sm font-sans font-semibold" tabindex="-1">
                    Wireless Bluetooth Headphones - Model X100
                </a>
            </h3>
            <div class="card-text has-non-sale-price skeletor-loading" data-test-info-type="price">
                <div class="price-section price-section--withoutTax non-sale-price--withoutTax">
                    <span></span>
                    <span data-product-non-sale-price-without-tax="" class="price price--non-sale bg-white">
                        $59.00
                    </span>
                </div>
                <div class="price-section price-section--withoutTax price--withoutTax">
                    <span class="price-now-label"></span>
                    <span data-product-price-without-tax="" class="price">$49.99</span>
                </div>
            </div>
            <div data-content-region="product_item_below_price"></div>
        </div>
        <figcaption class="card-figcaption skeletor-loading">
            <div class="card-figcaption-body">
                <a href="/cart.php?action=add&amp;product_id=101" data-wait-message="Adding to cart…"
                    data-event-type="product-click" data-product-id="101" data-button-type="add-cart"
                    class="button"
                    tabindex="-1"><span>Add to Cart</span></a>
            </div>
        </figcaption>
    </article>
</div>