<div id="promotion-banner" class="bg-[#222326] py-3 relative" data-step-animate="3">
    <div class="container">
        <div class="flex justify-center items-center">
            <a class="link-url flex items-center gap-2" href="" target="_blank" rel="noopener">
                <span class="text-white">Save 5% Sitewide with</span>
                <span class="link bg-gray-500 px-2 py-1 rounded-sm text-white text-[12px] font-bold">5OFFPROMO</span>
            </a>
        </div>
    </div>
    <span id="close-promotion-banner" class="icon custom-sidebar-close w-[24px] h-[24px] absolute right-4 md:right-10 top-0 translate-y-1/2 cursor-pointer">
        <svg>
            <use href="#icon-close"></use>
        </svg>
    </span>
</div>