<div class="mt-6 md:mt-20" id="review-section">
    <!-- Header Section -->
    <div class="flex items-center justify-between mt-6 mb-4 md:mb-9 md:mt-0" data-section-load="animation">
        <h1 class="text-title-section custom-fadeInUp font-eina02" data-step-animate="1">{{theme_settings.homeReviewHeading}}</h1>
        <div class="items-center hidden gap-4 text-gray-500 custom-fadeInUp md:flex" data-step-animate="2">
            <button prev-arrow class="flex items-center gap-1 text-[16px] font-tight leading-[120%] font-semibold">
                <svg class="w-6 h-6 rotate-180">
                    <use href="#icon-arrow-right"></use>
                </svg>
                Previous
            </button>
            <button next-arrow class="flex items-center gap-1 text-[16px] font-tight leading-[120%] font-semibold text-gray-900">
                Next
                <svg class="w-6 h-6">
                    <use href="#icon-arrow-right"></use>
                </svg>
            </button>
        </div>
        <div class="flex items-center justify-center md:hidden"><a href="{{theme_settings.homeReviewAllLink}}" class="text-sm font-sans font-semibold text-[#C51414]">{{theme_settings.homeReviewAllText}}</a>
        <svg class="w-[24px] h-[24px] rotate-270 stroke-[#C51414] text-[#C51414]">
            <use href="#svg-arrow-down"></use>
        </svg></div>
    </div>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-12" data-section-load="animation">
        <div class="flex items-baseline col-span-12 space-y-0 overflow-x-auto md:space-y-6 whitespace-nowrap md:block gap-x-2 md:items-start md:col-span-3 custom-fadeZoom" data-step-animate="2">
            <!-- Years of Business -->
            <div class="bg-[#F2F4F7] rounded-2xl md:py-5 md:px-5 py-2 px-4 shadow-sm border border-gray-100 max-md:basis-1/3 self-stretch">
                <div class="flex flex-col items-start gap-3 mb-3 md:items-center md:flex-row">
                    <div
                        class="flex items-center justify-start w-10 h-10 rounded-full bg-coral bg-opacity-10 md:justify-center">
                        <svg class="w-6 h-6 text-red-500">
                            <use href="#svg-review-icon1"></use>
                        </svg>
                    </div>
                    <div class="flex flex-col mt-2 gap-y-1">
                        <div class="text-[14px] font-eina02 md:text-[18px] font-bold text-gray-900">{{theme_settings.homeReviewLeftContent1_num}}</div>
                        <div class="text-[12px] font-sans md:text-[14px] min-w-[152px] whitespace-normal font-medium">{{theme_settings.homeReviewLeftContent1_text}}</div>
                    </div>
                </div>
            </div>

            <!-- Square Foot Facility -->
            <div class="bg-[#F2F4F7] rounded-2xl md:py-5 md:px-5 py-2 px-4 shadow-sm border border-gray-100 max-md:basis-1/3 self-stretch">
                <div class="flex flex-col items-start gap-3 mb-3 md:items-center md:flex-row">
                    <div
                        class="flex items-center w-10 h-10 rounded-full bg-coral bg-opacity-10 tw md:justify-center">
                        <svg class="w-6 h-6 text-red-500">
                            <use href="#svg-review-icon2"></use>
                        </svg>
                    </div>
                    <div class="flex flex-col mt-2 gap-y-1">
                        <div class="text-[14px] font-eina02 md:text-[18px] font-bold text-gray-900">{{theme_settings.homeReviewLeftContent2_num}}</div>
                        <div class="text-[12px] font-sans md:text-[14px] min-w-[152px] whitespace-normal font-medium">{{theme_settings.homeReviewLeftContent2_text}}</div>
                    </div>
                </div>
            </div>

            <!-- 24/7 Customer Support -->
            <div class="bg-[#F2F4F7] rounded-2xl md:py-5 md:px-5 py-2 px-4 shadow-sm border border-gray-100 max-md:basis-1/3 self-stretch">
                <div class="flex flex-col items-start gap-3 mb-3 md:items-center md:flex-row">
                    <div
                        class="flex items-center w-10 h-10 rounded-full bg-coral bg-opacity-10 tw md:justify-center">
                        <svg class="w-6 h-6 text-red-500">
                            <use href="#svg-review-icon1"></use>
                        </svg>
                    </div>
                    <div class="flex flex-col mt-2 gap-y-1">
                        <div class="text-[14px] font-eina02 md:text-[18px] font-bold text-gray-900">{{theme_settings.homeReviewLeftContent3_num}}</div>
                        <div class="text-[12px] font-sans md:text-[14px] min-w-[152px] whitespace-normal font-medium">{{theme_settings.homeReviewLeftContent3_text}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reviews Section -->
        <div class="col-span-12 md:col-span-9">
            <div class="h-full" data-section-load="slick-slider" data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "arrows": true,
                "dots": true,
                "slidesToShow": 1.2,
                "slidesToScroll": 1,
                "prevArrow":"#review-section button[prev-arrow]",
                "nextArrow":"#review-section button[next-arrow]",
                "responsive": [
                    {
                        "breakpoint": 550,
                        "settings": {
                            "slidesToShow": 2,
                            "slidesToScroll": 2,
                            "arrows": false
                        }
                    },
                    {
                        "breakpoint": 1024,
                        "settings": {
                            "slidesToShow": 3,
                            "slidesToScroll": 3,
                            "arrows": true,
                            "prevArrow":"#review-section button[prev-arrow]",
                            "nextArrow":"#review-section button[next-arrow]"
                        }
                    }
                ]
            }'> 
                <!-- Review Card 1 -->
                {{> components/jas/home/card-review count=5 name=theme_settings.homeReviewItem1Name company=theme_settings.homeReviewItem1Company review=theme_settings.homeReviewItem1Review img=theme_settings.homeReviewItem1Img}}
                <!-- Review Card 2 -->
                {{> components/jas/home/card-review count=5 name=theme_settings.homeReviewItem2Name company=theme_settings.homeReviewItem2Company review=theme_settings.homeReviewItem2Review img=theme_settings.homeReviewItem2Img}}
                <!-- Review Card 3 -->
                {{> components/jas/home/card-review count=5 name=theme_settings.homeReviewItem3Name company=theme_settings.homeReviewItem3Company review=theme_settings.homeReviewItem3Review img=theme_settings.homeReviewItem3Img}}
                <!-- Review Card 4 -->
                {{> components/jas/home/card-review count=5 name=theme_settings.homeReviewItem4Name company=theme_settings.homeReviewItem4Company review=theme_settings.homeReviewItem4Review img=theme_settings.homeReviewItem4Img}}
                <!-- Review Card 5 -->
                {{> components/jas/home/card-review count=5 name=theme_settings.homeReviewItem5Name company=theme_settings.homeReviewItem5Company review=theme_settings.homeReviewItem5Review img=theme_settings.homeReviewItem5Img}}
            </div>
        </div>
    </div>
</div>