<div class="w-full mt-6 md:mt-20 banners-section">
    <div class="flex justify-between items-center mb-4 md:mb-8 md:mt-0 mt-6" data-section-load="animation">
        <h2 class="text-title-section custom-fadeInUp font-eina02" data-step-animate="1">
            Our Departments
        </h2>
        <!-- create a custom prev and next button -->
        <a href="#" class="text-red-600 hover:text-red-700 font-medium flex items-center group custom-fadeInUp" data-step-animate="2">
            <span class="text-sm font-sans font-semibold">See all</span>
            <svg class="w-[24px] h-[24px] rotate-270 stroke-[#C51414]">
                <use href="#svg-arrow-down"></use>
            </svg>
        </a>
    </div>

    <div class="grid grid-cols-12 gap-x-6 gap-y-6" data-section-load="animation">
        <div class="lg:col-span-4 sm:col-span-6 col-span-12 relative max-h-[136px] sm:max-h-[200px] overflow-hidden hover-zoom skeletor-loading">
            <div class="w-full h-full bg-gray-100 overflow-hidden custom-fadeZoom rounded-2xl" data-step-animate="1">
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/original/image-manager/banners-image.png?t=1747983086" alt="{{theme_settings.brand_item1_link}}" class="w-full h-full object-cover lazyload">
            </div>
            <div class="absolute top-0 left-0 w-[55%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between md:gap-0 gap-4 rounded-2xl">
                <div class="group-text">
                    <h3 class=" text-white text-md font-eina02">
                        Marine/ Motorsport
                    </h3>
                    <p class="text-white text-[10px] md:text-[14px] font-sans">
                        Special discounts and great offers on Persil.
                    </p>
                </div>
                <a href="{{theme_settings.home_cate_link}}" class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-[15px]"><span class="text-sm font-tight font-semibold leading-[1] md:leading-[16px]">Shop Now</span></a>
            </div>
        </div>
        <div class="lg:col-span-4 sm:col-span-6 col-span-12 relative max-h-[136px] sm:max-h-[200px] overflow-hidden hover-zoom skeletor-loading">
            <div class="w-full h-full bg-gray-100 overflow-hidden custom-fadeZoom rounded-2xl" data-step-animate="3">
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/original/image-manager/banners-image-2.png?t=1747983895"
                    alt="{{theme_settings.brand_item1_link}}" class="w-full h-full object-cover lazyload">
            </div>
            <div class="absolute top-0 left-0 w-[55%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between md:gap-0 gap-4 rounded-2xl">
            <div class="group-text">
                    <h3 class=" text-white text-md font-eina02">
                    Dash Cameras
                    </h3>
                    <p class="text-white text-[10px] md:text-[14px] font-sans">
                        Special discounts and great offers on Persil.
                    </p>
            </div>
                <a href="{{theme_settings.home_cate_link}}"
                    class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-[15px]"><span class="text-sm font-tight font-semibold leading-[1] md:leading-[16px]">Shop Now</span></a>
            </div>
        </div>
        <div class="lg:col-span-4 sm:col-span-6 col-span-12 relative max-h-[136px] sm:max-h-[200px] overflow-hidden hover-zoom skeletor-loading">
            <div class="w-full h-full bg-gray-100 overflow-hidden custom-fadeZoom rounded-2xl" data-step-animate="5">
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/original/image-manager/banners-image-3.png?t=1747983896"
                    alt="{{theme_settings.brand_item1_link}}" class="w-full h-full object-cover lazyload">
            </div>
            <div class="absolute top-0 left-0 w-[55%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between md:gap-0 gap-4 rounded-2xl">
                <div class="group-text">
                    <h3 class=" text-white text-md font-eina02">
                        Subwoofer Enclosures
                    </h3>
                    <p class="text-white text-[10px] md:text-[14px] font-sans">
                        Special discounts and great offers on Persil.
                    </p>
                </div>
                <a href="{{theme_settings.home_cate_link}}"
                    class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-[15px]"><span class="text-sm font-tight font-semibold leading-[1] md:leading-[16px]">Shop Now</span></a>
            </div>
        </div>
    </div>
</div>