    <div class="overflow-hidden mt-[52px] md:mt-20" data-section-load="animation">
        <div class="relative w-full h-[402px] sm:h-[424px] rounded-3xl my-4 overflow-hidden custom-fadeZoom skeletor-loading" data-step-animate="1">
            <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/original/image-manager/video-popup.png?t=1748223227" alt="video-popup" class="w-full h-full object-cover lazyload sm:block hidden absolute inset-0">
                        <img src="{{cdn 'img/loading.svg'}}"
                            data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/original/image-manager/cta-section.jpg?t=1748572709"
                            alt="video-popup" class="w-full h-full object-cover lazyload sm:hidden block absolute inset-0">
            <div class="flex items-center h-full px-4 md:px-8 lg:px-16 w-full absolute top-[50%] sm:translate-y-[-55%] translate-y-[-38%]">
                <div class="sm:max-w-7xl max-w-full mx-auto w-full">
                    <div class="sm:max-w-[475px] sm:max-h-[312px]">
                        <div
                            class="bg-black rounded-3xl p-4 md:p-8 border border-white/10 max-w-full">

                            <!-- Title -->
                            <h1 class="text-title-video font-eina02 mb-4 text-white custom-fadeInUp" data-step-animate="3">
                                Be A Part Of The Family
                            </h1>

                            <!-- Description -->
                            <p class="text-gray-300 text-sm leading-relaxed mb-4 sm:mb-8 custom-fadeInUp" data-step-animate="2">
                                Take your listening experience to the next level with premium brands. Singh Electronics
                                carries a large array of products to accommodate anyone from the everyday consumer to
                                even the most experienced audio enthusiast
                            </p>

                            <!-- Action Buttons -->
                            <div class="flex gap-4 custom-fadeInUp" data-step-animate="4">
                                <button
                                    class="button mb-0 md:py-[10px] md:px-6 py-[10px] px-5 button-style h-[40px] sm:h-[48px] leading-[120%]">
                                    <span class="relative z-10 text-[14px] md:text-[16px] md:whitespace-normal whitespace-nowrap">Shop Now</span>
                                </button>
                                <button 
                                    class="h-[40px] md:py-[10px] md:px-6 py-[10px] px-5 button-style-3 sm:h-[48px] leading-[120%] flex items-center justify-center gap-x-1">
                                    <svg class="relative z-50 md:w-[24px] md:h-[24px] w-[16px] h-[16px]">
                                        <use href="#svg-btn-play-video"></use>
                                    </svg>
                                    <span data-reveal="popup-video" class="relative z-50 text-[14px] md:text-[16px] md:whitespace-normal whitespace-nowrap">Watch Video</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
