<!-- Menu Mobile Sidebar -->
<div class="custom-sidebar custom-menu-mobile custom-sidebar-left animated{{#if theme_settings.customMegamenu}} custom-menu-megamenu{{/if}}"
    id="custom-menu-mobile">
    <div class="custom-sidebar-wrapper navPages-container" data-menu>
    </div>
</div>

<!-- Search Mobile Sidebar -->
<div class="custom-sidebar custom-search-mobile custom-sidebar-left" id="custom-search-mobile">
    <a href="#" class="custom-sidebar-close" aria-label="Close Search Sidebar">
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-close"></use></svg>
    </a>
    <div class="custom-sidebar-wrapper">
        <div class="w-full">
            <form class="form mb-0 w-full flex items-center justify-center md:p-0 p-4" onsubmit="return false"
                data-url="{{urls.search}}" data-quick-search-form>
                    <fieldset
                        class="form-fieldset flex items-center justify-center w-full h-[48px] border border-gray-500 rounded-full py-[14px] pl-[18px] pr-2 bg-[#F2F4F7]">
                        <div class="form-field w-full mb-0">
                            <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label"}}</label>
                            <input class="form-input unset-outline bg-[#F2F4F7] placeholder-[#98A2B3] font-sans" data-search-quick
                                name="{{name}}" id="{{name}}" data-error-message="{{lang 'search.error.empty_field'}}"
                                placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
                        </div>
                        <button class="flex items-center justify-center bg-red-600 rounded-full w-8 h-8 mr-[5px]" type="submit"
                            aria-label="Search">
                            <span class="icon--search p-[7px]">
                                <svg class="stroke-white w-[18px] h-[18px]">
                                    <use xlink:href="#svg-search"></use>
                                </svg>
                            </span>
                        </button>
                    </fieldset>
            </form>
        </div>

    </div>
</div>

<!--  Cart Sidebar -->
<div class="custom-sidebar custom-cart-sidebar custom-sidebar-right" id="custom-cart-sidebar">
    <a href="#" class="custom-sidebar-close" aria-label="Close Cart Sidebar">
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-close"></use></svg>
    </a>
    <div class="custom-sidebar-wrapper"></div>
</div>

<!-- Account Sidebar -->
{{#if page_type '!=' 'login'}}
    <div class="custom-sidebar custom-auth-sidebar custom-sidebar-right" id="{{#if customer}}custom-account-mobile{{else}}custom-login-mobile{{/if}}">
        <a href="#" class="custom-sidebar-close" aria-label="Close Account Sidebar">
            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-close"></use></svg>
        </a>
        <div class="custom-sidebar-wrapper">
            {{#if customer}}
                {{> components/jas/sidebar/custom-account-popup data="account-mb"}}
            {{else}}
                {{> components/jas/sidebar/custom-login-popup data="login-mb" email_id="login_email2" password_id="login_pass2"}}
            {{/if}}
        </div>
    </div>
{{/if}}
