<article class="blog blog-skeleton mb-4">
    <div class="blog-post-figure skeletor-loading aspect-[412/275] rounded-2xl overflow-hidden">
    </div>

    <div class="blog-post-body">
        <header class="blog-header">
            <h4 class="mb-2 mt-4">
                <a href="" class="blog-post-tag skeletor-loading">
                    <span class="opacity-0">Speakers</span>
                </a>
            </h4>
            <h2 class="blog-title mb-2 sm:mb-4 tracking-normal">
                <a href="#" class="blog-post-title font-eina02 skeletor-loading">
                    <span class="opacity-0">Top 5 Car Audio Brands: A Deep Dive into Sound Excellence</span>
                </a>
            </h2>
        </header>

        <div class="blog-post mb-2 sm:mb-10">
            When you’re cruising down the highway, what’s the one thing that can make your journey even more enjoyable? A killer playlist.
            There’s something magical about the right music syncing
        </div>
    </div>
</article>