<div class="previewCart-header">
    <div class="flex items-center justify-end w-full gap-2 header-default">
        <h2 class="title">{{lang 'cart.preview.title'}}</h2>
        <span class="text">
            <span class="countPill cart-quantity" data-cart-quantity="{{cart.quantity}}">{{cart.quantity}}</span>
            <span> {{#if cart.quantity '>=' 2}} items{{else}} item{{/if}}</span>
        </span>
    </div>
    <div class="flex items-center gap-2 header-added-product">
        <span class="icon icon--check">
            <svg><use xlink:href="#icon-check"></use></svg>
        </span>
        <span class="text">Item added to your cart</span>
    </div>
</div>
<div class="previewCartWrapper">
    <div class="previewCart">
        {{#if cart.items.length}}
        <ul class="my-5 previewCartList">
            {{#each cart.items}}
            <li class="previewCartItem" data-cart-itemid="{{id}}" {{#if options}}data-cart-edit-productItem{{/if}}>
                <div class="previewCartItem-image">
                    {{#if type '==' 'GiftCertificate'}}
                    <img alt="GiftCertificate" title="GiftCertificate"
                        src="{{cdn ../theme_settings.default_image_gift_certificate}}">
                    {{else}}
                    {{> components/common/responsive-img
                    image=image
                    fallback_size=../theme_settings.productthumb_size
                    lazyload=../theme_settings.lazyload_mode
                    default_image=../theme_settings.default_image_product
                    }}
                    {{/if}}
                </div>
                <div class="previewCartItem-content">
                    <div class="previewCartItem-content--group">
                        <div class="previewCartItem-center">
                            <h6 class="mb-3 previewCartItem-name">
                                <a class="text-[16px] leading-[22px] font-sans font-medium" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </h6>

                            <div class="previewCartItem-qty">
                                <label class="form-label" for="qty-{{id}}">Qty</label>
                                <div class="form-increment form-increment--transparent">
                                     <button class="button button--icon text-[#1E293B] hover:text-[#c51414]" data-cart-update=""data-cart-itemid="{{id}}" data-cart-update data-action="dec">
                                        <span class="is-srOnly">Decrease Quantity of Kicker 51KSC2704 KS Series 2.75" 50W RMS Midrange Car Speakers</span>
                                        <i class="icon w-[18px] h-[18px]" aria-hidden="true"><svg><use href="#icon-minus"></use></svg></i>
                                    </button>

                                        <input class="form-input form-input--incrementTotal cart-item-qty-input" id="qty-{{id}}" name="qty-{{id}}" type="tel" value="{{quantity}}" data-quantity-min="{{min_purchase_quantity}}"
                                        data-quantity-max="{{max_purchase_quantity}}"
                                        data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                                        data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}" min="1"
                                        pattern="[0-9]*" data-cart-itemid="{{id}}" data-action="manualQtyChange" aria-live="polite" {{#unless
                                        can_modify}} disabled{{/unless}}>
                                        
                                        <button class="button button--icon text-[#1E293B] hover:text-[#c51414]" data-cart-update="" data-cart-itemid="{{id}}" data-action="inc">
                                            <span class="is-srOnly">Increase Quantity of Kicker 51KSC2704 KS Series 2.75" 50W RMS Midrange Car Speakers</span>
                                            <i class="w-5 h-5 icon" aria-hidden="true"><svg><use href="#icon-plus"></use></svg></i>
                                        </button>
                                </div>
                            </div>
                        </div>
                        <div class="previewCartItem-right">
                        {{#if can_modify}}
                        <a class="previewCartItem-remove hover-link"
                            data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            <svg>
                                <use xlink:href="#svg-icon-remove"></use>
                            </svg>
                        </a>
                        {{else}}
                        {{#if type '==' 'GiftCertificate'}}
                        <a class="previewCartItem-remove hover-link"
                            data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            <svg>
                                <use xlink:href="#svg-icon-remove"></use>
                            </svg>
                        </a>
                        {{/if}}
                        {{/if}}
                        <span class="previewCartItem-price">
                            {{#or ../customer (unless ../settings.hide_price_from_guests) (if type '==' 'GiftCertificate')}}
                            <span{{#if price_discounted}} class="price--discounted" {{/if}}>{{price.formatted}}
                        </span>
                        {{#if price_discounted}}
                        {{price_discounted.formatted}}
                        {{/if}}
                        {{else}}
                        {{> components/common/login-for-pricing}}
                        {{/or}}
                        </span>
                        </div>
                    </div>
                    
                </div>
            </li>
            {{/each}}
        </ul>
        <div class="flex justify-between mt-5 mb-5 previewCart-total">
            <div class="cart-total-label text-[18px] font-sans font-normal">
                <strong>{{lang 'cart.checkout.subtotal'}}:</strong>
            </div>
            <div class="cart-total-value text-[18px] leading-[26px] font-sans font-semibold">
                {{#or customer (unless settings.hide_price_from_guests)}}
                <span>{{cart.sub_total.formatted}}</span>
                {{else}}
                {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        </div>
        <div class="previewCartAction">
            {{#if cart.show_primary_checkout_button}}
            <div class="previewCartAction-checkout">
                <a href="{{urls.checkout.single_address}}" class="button button-style"
                    data-primary-checkout-now-action data-enter-to-click role="button">
                    <span>Proceed to Checkout</span>
                </a>
            </div>
            {{/if}}

            <div
                class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                <a href="{{urls.cart}}" class="button button-style-2 border-[1px] border-[#C51414]" role="button"
                    data-enter-to-click>
                    <span>View Cart</span>
                </a>
            </div>

            {{#if cart.show_multiple_address_shipping}}
            <div class="previewCartAction-checkoutMultiple">
                <a href="{{urls.checkout.multiple_address}}">
                    {{lang 'cart.preview.checkout_multiple'}}
                </a>
            </div>
            {{/if}}
        </div>
        {{#and (if cart.additional_checkout_buttons) (if theme_settings.show_additional_checkout_buttons)}}
        <div class="previewCart-additionalCheckoutButtons">
            {{#each cart.additional_checkout_buttons}}
            {{{this}}}
            {{/each}}
        </div>
        {{/and}}
        {{else}}
        <div role="alert" aria-live="polite" aria-atomic="false" class="previewCart-emptyBody">
            {{lang 'cart.checkout.empty_cart'}}
        </div>
        {{/if}}
    </div>
</div>