<div class="previewCart-header">
    <h2 class="title">{{lang 'cart.preview.title'}}</h2>
    <span class="text">
        <span class="countPill cart-quantity" data-cart-quantity="{{cart.quantity}}">{{cart.quantity}}</span>
        <span> {{#if cart.quantity '>=' 2}} items{{else}} item{{/if}}</span>
    </span>
</div>
<div class="previewCartWrapper">
    <div class="previewCart">
        {{#if cart.items.length}}
        <ul class="previewCartList my-5">
            {{#each cart.items}}
            <li class="previewCartItem" data-cart-itemid="{{id}}" {{#if options}}data-cart-edit-productItem{{/if}}>
                <div class="previewCartItem-image">
                    {{#if type '==' 'GiftCertificate'}}
                    <img alt="GiftCertificate" title="GiftCertificate"
                        src="{{cdn ../theme_settings.default_image_gift_certificate}}">
                    {{else}}
                    {{> components/common/responsive-img
                    image=image
                    fallback_size=../theme_settings.productthumb_size
                    lazyload=../theme_settings.lazyload_mode
                    default_image=../theme_settings.default_image_product
                    }}
                    {{/if}}
                </div>
                <div class="previewCartItem-content">
                    <div class="previewCartItem-content--group">
                        <div class="previewCartItem-center">
                            <h6 class="previewCartItem-name">
                                <a class="text-[16px] leading-[22px] font-sans" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </h6>
                            
                            {{#if options}}
                            <div class="previewCartItem-options">
                                <span class="previewCartItem-variant">
                                    {{#each options}}
                                    <span>{{{ sanitize value}}}</span>
                                    {{/each}}
                                </span>
                            </div>
                            {{/if}}
                            <div class="previewCartItem-qty">
                                <label class="form-label" for="qty-{{id}}">Qty</label>
                                <div class="form-increment">
                                    <span data-cart-itemid="{{id}}" data-cart-update data-action="dec" class="input-number-decrement"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M3.75 9H14.25" stroke="#64748B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg></span>
                                    <input class="form-input form-input--incrementTotal" id="qty-{{id}}" name="qty-{{id}}" type="number"
                                        value="{{quantity}}" data-quantity-min="{{min_purchase_quantity}}"
                                        data-quantity-max="{{max_purchase_quantity}}"
                                        data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                                        data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}" min="1"
                                        pattern="[0-9]*" data-cart-itemid="{{id}}" data-action="manualQtyChange" aria-live="polite" {{#unless
                                        can_modify}} disabled{{/unless}}>
                                        <span data-cart-itemid="{{id}}" data-cart-update data-action="inc" class="input-number-increment"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                            <path d="M9 3.75049V14.2505M3.75 9.00049H14.25" stroke="#1E293B" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg></span>
                                </div>
                            </div>
                        </div>
                        <div class="previewCartItem-right">
                        {{#if can_modify}}
                        <a class="previewCartItem-remove hover-link"
                            data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            <svg>
                                <use xlink:href="#svg-icon-remove"></use>
                            </svg>
                        </a>
                        {{else}}
                        {{#if type '==' 'GiftCertificate'}}
                        <a class="previewCartItem-remove hover-link"
                            data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            <svg>
                                <use xlink:href="#svg-icon-remove"></use>
                            </svg>
                        </a>
                        {{/if}}
                        {{/if}}
                        <span class="previewCartItem-price">
                            {{#if quantity '>' 1}}
                            {{quantity}} &times;
                            {{/if}}
                            {{#or ../customer (unless ../settings.hide_price_from_guests) (if type '==' 'GiftCertificate')}}
                            <span{{#if price_discounted}} class="price--discounted" {{/if}}>{{price.formatted}}
                        </span>
                        {{#if price_discounted}}
                        {{price_discounted.formatted}}
                        {{/if}}
                        {{else}}
                        {{> components/common/login-for-pricing}}
                        {{/or}}
                        </span>
                        </div>
                    </div>
                    
                </div>
            </li>
            {{/each}}
        </ul>
        <div class="previewCart-total flex justify-between">
            <div class="cart-total-label text-[18px] font-sans font-normal">
                <strong>{{lang 'cart.checkout.subtotal'}}:</strong>
            </div>
            <div class="cart-total-value text-[18px] leading-[26px] font-sans font-bold">
                {{#or customer (unless settings.hide_price_from_guests)}}
                <span>{{cart.sub_total.formatted}}</span>
                {{else}}
                {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        </div>
        <div class="previewCartAction">
            {{#if cart.show_primary_checkout_button}}
            <div class="previewCartAction-checkout">
                <a href="{{urls.checkout.single_address}}" class="button button-style"
                    data-primary-checkout-now-action data-enter-to-click role="button">
                    <span>{{lang 'cart.preview.checkout_now'}}</span>
                </a>
            </div>
            {{/if}}

            <div
                class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                <a href="{{urls.cart}}" class="button button-style-2 border-[1px] border-[#C51414]" role="button"
                    data-enter-to-click>
                    <span>{{lang 'cart.preview.view_cart'}}</span>
                </a>
            </div>

            {{#if cart.show_multiple_address_shipping}}
            <div class="previewCartAction-checkoutMultiple">
                <a href="{{urls.checkout.multiple_address}}">
                    {{lang 'cart.preview.checkout_multiple'}}
                </a>
            </div>
            {{/if}}
        </div>
        {{#and (if cart.additional_checkout_buttons) (if theme_settings.show_additional_checkout_buttons)}}
        <div class="previewCart-additionalCheckoutButtons">
            {{#each cart.additional_checkout_buttons}}
            {{{this}}}
            {{/each}}
        </div>
        {{/and}}
        {{else}}
        <div role="alert" aria-live="polite" aria-atomic="false" class="previewCart-emptyBody">
            {{lang 'cart.checkout.empty_cart'}}
        </div>
        {{/if}}
    </div>
</div>