---
blog:
    posts:
        limit: 6
        pages: 3
        summary: 200
---
{{#partial "head"}}
    {{#if pagination.blog.previous}}
        <link rel="prev" href="{{{pagination.blog.previous}}}">
    {{/if}}
    {{#if pagination.blog.next}}
        <link rel="next" href="{{{pagination.blog.next}}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<main class="page m-0">
    <div class="container container-xl">
        <span class="page-sub-heading">Blog and Articles</span>
        {{#unless theme_settings.hide_blog_page_heading }}
            <h1 class="page-heading font-eina02">Blog and Articles</h1>
        {{/unless}}

        {{#if blog.posts}}
            {{#get "0" blog.posts}}
                {{> components/blog/post isFirst=true post=this theme_settings=../theme_settings}}
            {{/get}}
        {{/if}}

        <div class="blogList grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-6">
            {{#each blog.posts}}
                {{#and (if @index '>' 0) (if @index '<' 4)}}
                    {{> components/blog/post post=this theme_settings=../theme_settings}}
                {{else}}
                    {{#if @index '>' 3}}
                        {{> components/blog/post isHidden=true post=this theme_settings=../theme_settings}}
                    {{/if}}
                {{/and}}
            {{/each}}
        </div>

        {{{region name="custom_blog_page_0"}}}

        <!-- Blog Tabs By Tag Name -->
        <section class="blogTabs" data-section-load="animation">
            <h2 class="text-title-section custom-fadeInUp font-eina02" data-step-animate="1">Recent Articles</h2>

            <div class="blogTabs__tabs">
                {{{region name="custom_blog_tabs"}}}

                <div class="blogTabs__content blogList grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-6 is-loading">
                    {{> components/blog/post-skeleton}}
                    {{> components/blog/post-skeleton}}
                    {{> components/blog/post-skeleton}}
                    {{> components/blog/post-skeleton}}
                    {{> components/blog/post-skeleton}}
                    {{> components/blog/post-skeleton}}
                </div>
            </div>
        </section>
        {{> components/jas/home/review-section}}

       {{{region name="custom_blog_page_1"}}}
       {{{region name="custom_blog_page_2"}}}
       {{{region name="custom_blog_page_3"}}}
       <div class="h-[48px] md:h-[80px]"></div>

        {{> components/common/global-banner}}
    </div>
</main>

{{> components/blog/default-blog-section}}
{{/partial}}
{{> layout/base}}
