---
category:
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{{pagination.category.previous}}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{{pagination.category.next}}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}


{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div class="page mx-0">

    <!-- {{> components/jas/category/subcate-section category=category}} -->
    {{#if theme_settings.disabled_snize}}
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if theme_settings.shop_by_price_visibility}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{/if}}

    <main class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
    </main>
    {{else}}
    <main class="page-content px-0" id="product-listing-container">
        {{> components/carousel-hero}}
        <div class="container">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            <div id="category-subcate" class="mb-6 md:mb-20">
                {{> components/jas/home/cate-featured-section title=category.name is_category=true}}
            </div>
            <div class="snize" id="snize_results"></div>
            {{> components/jas/home/our-brands-section}}
            {{> components/jas/category/five-banners-section}}
        </div>
    </main>
    {{/if}}
    <div class="page-region">
        {{{region name="category_below_content"}}}
    </div>
</div>

{{/partial}}
{{> layout/base}}
