{{#partial "page"}}


<main class="page page-default">
    <div class="container">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <div class="page-content flex justify-between items-start gap-6 p-0">
            <div class="sidebar-left w-[30%] max-w-[303px] md:block hidden custom-fadeInUp" data-step-animate="1" data-section-load="animation">
                <div class="page-list p-6 rounded-[8px] border-[1px] border-[#EAECF0]">
                    {{#each (limit pages 12)}}
                        <div class="page-item mb-1{{#if name '==' ../page.title}} page-active{{/if}}">
                            <a href="{{url}}" target="_blank" class="group self-stretch min-h-10 rounded-lg inline-flex justify-center items-center gap-2 py-[10px] text-[#1B0832] hover:text-[#c51414]" title="{{name}}">
                                <span class="flex-1 justify-start text-[16px] text-[inherit] font-semibold font-['Inter'] leading-[1.25]">{{name}}</span>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div> 
            <div class="sidebar-right main-content flex-1 p-0 md:p-[40px] md:rounded-[8px] md:border-[1px] md:border-[#EAECF0] custom-fadeInUp" data-step-animate="1" data-section-load="animation">
                <div class="head-content">
                    {{#unless theme_settings.hide_page_heading }}
                        <h1 class="page-heading font-eina02 md:text-[40px] m-0">{{ page.title }}</h1>
                    {{/unless}}
                </div>
            
                {{#if page.sub_pages}}
                    <nav class="navBar navBar--sub">
                        <ul class="navBar-section account-navigation">
                        {{#each page.sub_pages}}
                            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                        {{/each}}
                        </ul>
                    </nav>
                {{/if}}
            
                {{{region name="page_builder_content"}}}
            
                <div class="page-content px-0.5 page-content-custom">
                    {{#replace '%%Syndicate%%' page.content}}
                        {{> components/page/rss_feed}}
                    {{else}}
                        {{{page.content}}}
                    {{/replace}}
                </div>
                {{#if page.feed}}
                    <ul>
                        {{#each page.feed}}
                            <li>
                                <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                                <p>{{content}}</p>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
        </div>

        {{{region name="custom_webpage_default_1"}}}
        {{{region name="custom_webpage_default_2"}}}
        {{{region name="custom_webpage_default_3"}}}

        {{> components/common/global-banner}}
    </div>
</main>

{{/partial}}

{{> layout/base}}
