---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}

{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs pageType=page_type}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div>
        {{> components/products/product-view}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{#if product.related_products}}
            <div class="mt-6 productRelated-section md:mt-20">
                <div class="flex items-center justify-between mt-6 mb-4 md:mb-9 md:mt-0" data-section-load="animation">
                    <h1 class="text-title-section custom-fadeInUp font-eina02" data-step-animate="1">
                        More Recommendations
                    </h1>
                    <div class="items-center hidden gap-4 text-gray-500 custom-fadeInUp md:flex" data-step-animate="2">
                        <button prev-arrow class="flex items-center gap-1 text-[16px] font-tight leading-[120%] font-semibold">
                            <svg class="w-6 h-6 rotate-180">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                            Previous
                        </button>
                        <button next-arrow class="flex items-center gap-1 text-[16px] font-tight leading-[120%] font-semibold text-gray-900">
                            Next
                            <svg class="w-6 h-6">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="flex items-center justify-center md:hidden"><span class="text-sm font-sans font-semibold text-[#C51414]">See all</span>
                    <svg class="w-[24px] h-[24px] rotate-270 stroke-[#C51414] text-[#C51414]">
                        <use href="#svg-arrow-down"></use>
                    </svg></div>
                </div>
                {{> components/products/carousel products=product.related_products columns=5 list="Related Products"}}
            </div>
        {{/if}}

        {{> components/jas/home/service-section}}

        {{> components/jas/home/two-banners-section}}

        {{> components/jas/ask-an-expert/halo-ask-an-expert}}
    </div>

    {{> components/products/schema}}
{{/partial}}
{{> layout/base}}
