
<div id="add-coupon" class="cart-form coupon-code">
    <form class="form form--hiddenLabels coupon-form mb-5" method="post" action="{{urls.cart}}">
        <label class="form-label" for="couponcode">{{lang 'cart.coupons.coupon_code'}}</label>
        <input class="form-input" data-error="{{lang 'cart.coupons.empty_error'}}"  id="couponcode" type="text" name="couponcode" value="" placeholder="{{lang 'cart.coupons.apply_coupon'}}">
        <input class="button button--primary button--small" type="submit" aria-label="{{lang 'cart.coupons.apply_coupon'}}" value="{{lang 'cart.coupons.apply_coupon'}}">
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
