// =============================================================================
// CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------

// Cart variables
// -----------------------------------------------------------------------------

$cart-item-spacing:                     spacing("single");
$cart-content-padding-right:            4px;

$cart-thumbnail-maxWidth:               remCalc(100px);
$cart-thumbnail-height:                 remCalc(100px);
$cart-thumbnail-maxHeight:              14rem;
$cart-thumbnail-paddingVertical:        0.5rem;

$cart-item-label-offset:                $cart-thumbnail-maxWidth + $cart-item-spacing;
$card-preview-zoom-bottom-offset:       6rem;

//
// Shared styles for additional checkout buttons
// -----------------------------------------------------------------------------

%additionalCheckoutButtons {
    @include clearfix;

    .FloatRight {
        @include clearfix;

        p {
            float: none !important;
            margin: spacing("third") 0;
            text-align: right;
        }

        div {
            float: right;
        }
    }
}

// Cart layout
// -----------------------------------------------------------------------------
$cartContainerWidth: 1280;
$cartContentWidth: 844;
$cartTotalsWidth: 412;

$col1Width: (100 / $cartContentWidth) * 100%;
$col2Width: (348 / $cartContentWidth) * 100%;
$col3Width: (100 / $cartContentWidth) * 100%;
$col4Width: (148 / $cartContentWidth) * 100%;
$col5Width: (148 / $cartContentWidth) * 100%;

.cardPage {
    &__left {
        width: 100%;

        @media (min-width: 1280px) {
            max-width: $cartContentWidth + px;
            width: ($cartContentWidth / $cartContainerWidth) * 100%;
        }
    }
    &__right {
        width: 100%;

        @media (min-width: 1280px) {
            max-width: $cartTotalsWidth + px;
            width: ($cartTotalsWidth / $cartContainerWidth) * 100%;
        }
    }
}

.cart__body-item {
    @media (max-width: 767px) {
        padding: 0 !important;
    }
}

.item-col {
    &-1 {
        width: $col1Width;

        @media (max-width: 767px) {
            width: 48px;
            margin-right: 12px;
        }
    }

    &-2 {
        width: $col2Width;

        @media (max-width: 767px) {
            width: calc(100% - 100px);
        }
    }

    &-3 {
        width: $col3Width;

        @media (max-width: 767px) {
            width: 100%;
            padding-left: 60px !important;
        }
    }

    &-4 {
        width: $col4Width;

        @media (max-width: 767px) {
            width: 100%;
            padding-left: 60px !important;
        }
    }

    &-5 {
        width: $col5Width;

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.cart-totals {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

.cart-total {
    display: flex;
    justify-content: space-between;

    &-label {
        font-family: $fontFamily-sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #2D3139;

        strong {
            font-weight: 500;
        }
    }

    &-value {
        font-family: $fontFamily-sans;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: #2D3139;
    }

    &.cart-total-amount {
        padding-top: 16px;
        border-top: 1px solid #D0D5DD;

        .cart-total-label,
        .cart-total-value {
            color: #0F172A;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px; 
        }
    }

    &:has(.shipping-estimator.is-open),
    &:has(.shipping-estimate-show) {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .cart-total-value {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.cart-total-amount {
    strong {
        font-weight: 600 !important;
    }
}


// Cart actions
// -----------------------------------------------------------------------------

.coupon-code-add,
.coupon-code-cancel,
.shipping-estimate-show,
.gift-certificate-add,
.gift-certificate-cancel {
    color: #2D3139;
    padding: 0;
    transition: color 0.15s ease;

    &:hover {
        color: #C51414;
    }
}

.coupon-code-cancel,
.shipping-estimate-show[aria-expanded="true"] {
    font-style: italic;
}

.coupon-form,
.cart-gift-certificate-form {
    position: relative;

    .form-input {
        width: 100%;
        padding: 4px 4px 4px 20px;
        height: 46px;
        border-radius: 96px;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        color: #5C6677;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;

        &::placeholder {
            color: inherit;
        }
    }

    .button {
        padding: 10px 14px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 16.8px;
        text-transform: capitalize;
        position: absolute;
        top: 4px;
        right: 4px;
    }
}

.estimator-form {
    margin-bottom: 0;

    .form-input {
        margin-bottom: spacing("half");
        width: 100%;
    }

    .button--primary {
        width: 60%;
    }
}

.estimator-form-label {
    clear: both;
    float: left;
    font-weight: fontWeight("normal");
    margin-bottom: 0;

    .form-label {
        line-height: remCalc(32px);
        margin-bottom: 0;
    }
}

.estimator-form-label-text {
    margin-left: remCalc(10px);
}

.estimator-form-input {
    float: right;
    margin-bottom: 1em;
    width: 60%;

    .form-input,
    .form-select {
        margin-bottom: 0;
    }
}

.estimator-form-input--price {
    width: 30%;
}

.estimator-form-row {
    @include clearfix;
}

.estimator-form-toggleUPSRate {
    display: block;
    margin-bottom: 1em;
}

.cart-actions {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .button {
        width: 100%;
        margin-bottom: 0;
    }
}

.cart-additionalCheckoutButtons {
    @extend %additionalCheckoutButtons;
}

// Cart Preview
// -----------------------------------------------------------------------------
//
// 1. Need to vertically align a block of text
//
// -----------------------------------------------------------------------------

.previewCartWrapper {
    max-height: calc(100vh - #{$card-preview-zoom-bottom-offset});
    overflow: auto;
}

.previewCartList {
    @include u-listReset;
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.previewCartItem {
    @include grid-row;
    display: table-row;
    line-height: lineHeight("smaller");

    + .previewCartItem {
        border-top: container("border");
    }
}

.previewCartItem-image,
.previewCartItem-content {
    display: table-cell; // 1
    vertical-align: middle;
}

.previewCartItem-image {
    @include grid-column(4, $float: false);

    @include lazy-loaded-padding("productthumb_size");
    padding: 0;
    position: relative;
    text-align: center;

    img {
        @include lazy-loaded-img;
        max-height: 90%;
    }

    &::after {
        @include breakpoint("xxsmall") {
            padding-bottom: 75%;
        }

        @include breakpoint("xsmall") {
            padding-bottom: 100%;
        }
    }
}

.previewCartItem-content {
    @include grid-column(8, $float: false);
    padding-left: 0;
}

.previewCartItem-name {
    margin: 0;
    text-transform: none;

    > a {
        text-decoration: none;
    }
}

.previewCartItem-brand {
    margin-bottom: spacing("eighth");
}

.previewCartItem-brand,
.previewCartItem-price {
    color: $small-font-color;
    display: inline-block;
    font-size: fontSize("smallest");
}

.previewCartAction {
    @include grid-row;
    border-top: container("border");
    display: block;

    @include breakpoint("xxsmall") {
        padding: spacing("half") spacing("quarter");
    }

    @include breakpoint("xsmall") {
        padding: spacing("single") spacing("half");
    }

    .button {
        margin: 0;
        padding-left: spacing("half");
        padding-right: spacing("half");
        width: 100%;
    }
}

.previewCartAction-checkout,
.previewCartAction-viewCart {
    @include grid-column(6);

    &.previewCartAction-viewCart--sole {
        @include grid-column($columns: 6, $center: true);
    }
}

.previewCartAction-checkout {
    padding-right: spacing("quarter");
}

.previewCartAction-checkoutMultiple {
    clear: both;
    padding-left: spacing("half");
    padding-top: spacing("quarter");
}

.previewCartAction-viewCart {
    padding-left: spacing("quarter");
}

.previewCart-emptyBody {
    padding: spacing("double");
    text-align: center;
}

.previewCart-additionalCheckoutButtons {
    @extend %additionalCheckoutButtons;
    padding-bottom: spacing("single");
    padding-right: spacing("single");
}

.shipping-estimate-value #shipping-cost-discounted {
    margin-left: spacing("quarter");
}
