.blogTabs__content {
    .blog-post,
    .blog-post-info {
        display: none;
    }

    &:not(.is-loading) {
        .blog-skeleton {
            display: none !important;
        }
    }
}
.tableOfContent {
    &__item {
        padding: 16px 0;
        border-bottom: 1px solid #D0D5DD;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        a {
            font-size: 14px;
            font-weight: 500;
            line-height: 120%; 
            color: #0F1112;

            &:hover {
                color: #C51414;
            }
        }

        &.is-active {
            a {
                color: #C51414;
            }
        }
    }
}

.postDetails {
    &__center {
        color: #4B5154;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;

        @media (max-width: 768px) {
            font-size: 14px;
        }

        h2 {
            color: #0F1112;
            font-size: 32px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -0.64px;
            margin-bottom: 28px;

            @media (max-width: 768px) {
                font-size: 16px;
                font-weight: 700;
                line-height: 120%;
                margin-bottom: 12px;
            }
        }

        h3 {
            color: #0F1112;
            font-size: 24px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -0.48px;
            margin-bottom: 16px;

            @media (max-width: 768px) {
                font-size: 16px;
                font-weight: 700;
                line-height: 120%;
                margin-bottom: 12px;
            }
        }

        h4 {
            color: #0F1112;
            font-size: 20px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -0.4px;
            margin-bottom: 12px;

            @media (max-width: 768px) {
                font-size: 16px;
                font-weight: 700;
                line-height: 120%;
                margin-bottom: 12px;
            }
        }

        h5 {
            color: #0F1112;
            font-size: 18px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -0.36px;
            margin-bottom: 12px;

            @media (max-width: 768px) {
                font-size: 16px;
                font-weight: 700;
                line-height: 120%;
                margin-bottom: 12px;
            }
        }

        p {
            margin-bottom: 28px;

            @media (max-width: 768px) {
                margin-bottom: 12px;
            }
        }

        hr {
            margin: 48px 0;

            @media (max-width: 768px) {
                margin: 20px 0;
            }
        }

        img {
            border-radius: 8px;
            overflow: hidden;
        }

        .post-title {
            font-weight: 600;
            line-height: 120%;
            margin-top: 32px;

            @media (max-width: 768px) {
                margin-top: 12px;
            }
        }

        .post-list {
        }
    } 
}