@media (min-width: 768px) {
    .customProductView {
        display: grid !important;
        grid-template-areas:
        "blockLeft blockRight"
        "blockDescription blockRight";
    
        &__left {
            grid-area: blockLeft;
        }
    
        &__right {
            grid-area: blockRight;
        }
    
        &__description {
            grid-area: blockDescription;
        }
    }
}