@media (min-width: 768px) {
    .customProductView {
        display: grid !important;
        grid-template-areas:
        "blockLeft blockRight"
        "blockDescription blockRight";
    
        &__left {
            grid-area: blockLeft;
        }
    
        &__right {
            grid-area: blockRight;
        }
    
        &__description {
            grid-area: blockDescription;
        }
    }
}

@media (min-width: 1024px) {
    .productView-image-wrapper {
        width: calc(100% - 92px) !important;
    }

    .productView-for {
        .slick-prev {
            top: -40px !important;
        }
    }
}

@media (max-width: 768px) {
    .productView-thumbnail {
        padding: 2px;
    }

    .productRelated-section {
        .slick-dots {
            bottom: -30px;
            li button, li button::before {
                width: 10px;
                height: 10px;
            }
        }
    }
}