<div class="w-full mt-6 md:mt-20 banners-section">
    <div class="flex items-center justify-between mt-6 md:mt-0 font-eina02" data-section-load="animation">
        <h2 class="text-title-section custom-fadeInUp" data-step-animate="1">
            Our Departments
        </h2>
        <!-- create a custom prev and next button -->
        <!-- <a href="#" class="flex items-center font-medium text-red-600 hover:text-red-700 group custom-fadeInUp" data-step-animate="2">
            <span>See all</span>
            <svg class="w-[24px] h-[24px] rotate-270 stroke-[#C51414]">
                <use href="#svg-arrow-down"></use>
            </svg>
        </a> -->
    </div>

    <div class="w-full mt-4 banners-section md:mt-8" data-section-load="animation">
        <div class="grid grid-cols-12 gap-x-6 gap-y-6">
            <div
                class="sm:col-span-6 col-span-12 relative h-[164px] sm:h-[200px] rounded-[20px] overflow-hidden hover-zoom">
                <div class="relative w-full h-full bg-blue-gradient" data-step-animate="2">
                    <img src="{{cdn 'img/loading.svg'}}"
                        data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/original/image-manager/category-banner-1.png?t=1749801471"
                        alt="{{theme_settings.brand_item1_link}}" class="w-[200px] h-[200px] lazyload  absolute top-0 right-0 ">
                </div>
                <div
                    class="absolute top-0 left-0 w-[54%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between">
                    <div class="group-text">
                        <h3 class="text-white  text-md font-eina02">
                            Security / Remote Car Starters
                        </h3>
                        <p class="text-white text-[10px] md:text-[14px] font-sans">
                            Special discounts and great offers on Persil.
                        </p>
                    </div>
                    <a href="{{theme_settings.home_cate_link}}"
                        class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-5"><span
                            class="font-sans text-sm font-semibold">Shop Now</span></a>
                </div>
            </div>
            <div
                class="sm:col-span-6 col-span-12 relative h-[164px] sm:h-[200px] rounded-[20px] overflow-hidden hover-zoom skeletor-loading">
                <div class="relative w-full h-full bg-red-gradient custom-fadeZoom" data-step-animate="5">
                    <img src="{{cdn 'img/loading.svg'}}"
                        data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/original/image-manager/category-banner-2.png?t=1749801473"
                        alt="{{theme_settings.brand_item1_link}}" class="w-[200px] h-[200px] lazyload  absolute top-0 right-0 ">
                </div>
                <div
                    class="absolute top-0 left-0 w-[54%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between">
                <div class="group-text">
                    <h3 class="text-white  text-md font-eina02">
                        Signal Processors
                    </h3>
                    <p class="text-white text-[10px] md:text-[14px] font-sans">
                       For an enhanced and cleaner sounding stereo system 
                    </p>
                </div>
                    <a href="{{theme_settings.home_cate_link}}" class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-5"><span
                            class="font-sans text-sm font-semibold">Shop Now</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full mt-4 md:mt-8 banners-section">
        <!-- <div class="flex items-center justify-between mt-6 mb-4 md:mb-8 md:mt-0" data-section-load="animation">
            <h2 class="text-title-section custom-fadeInUp font-eina02" data-step-animate="1">
                Our Departments
            </h2>
            <a href="#" class="flex items-center font-medium text-red-600 hover:text-red-700 group custom-fadeInUp"
                data-step-animate="2">
                <span class="font-sans text-sm font-semibold">See all products</span>
                <svg class="w-[24px] h-[24px] rotate-270 stroke-[#C51414]">
                    <use href="#svg-arrow-down"></use>
                </svg>
            </a>
        </div> -->
    
        <div class="grid grid-cols-12 gap-x-6 gap-y-6" data-section-load="animation">
            <div
                class="lg:col-span-4 sm:col-span-6 col-span-12 relative max-h-[136px] sm:max-h-[200px] overflow-hidden hover-zoom skeletor-loading">
                <div class="w-full h-full overflow-hidden bg-gray-100 custom-fadeZoom rounded-2xl" data-step-animate="1">
                    <img src="{{cdn 'img/loading.svg'}}"
                        data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/original/image-manager/banners-image.png?t=1747983086"
                        alt="{{theme_settings.brand_item1_link}}" class="object-cover w-full h-full lazyload">
                </div>
                <div
                    class="absolute top-0 left-0 w-[55%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between md:gap-0 gap-4 rounded-2xl">
                    <div class="group-text">
                        <h3 class="text-white  text-md font-eina02">
                            Marine/ Motorsport
                        </h3>
                        <p class="text-white text-[10px] md:text-[14px] font-sans">
                            Special discounts and great offers on Persil.
                        </p>
                    </div>
                    <a href="{{theme_settings.home_cate_link}}"
                        class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-[15px]"><span
                            class="text-sm font-tight font-semibold leading-[1] md:leading-[16px]">Shop Now</span></a>
                </div>
            </div>
            <div
                class="lg:col-span-4 sm:col-span-6 col-span-12 relative max-h-[136px] sm:max-h-[200px] overflow-hidden hover-zoom skeletor-loading">
                <div class="w-full h-full overflow-hidden bg-gray-100 custom-fadeZoom rounded-2xl" data-step-animate="3">
                    <img src="{{cdn 'img/loading.svg'}}"
                        data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/original/image-manager/banners-image-2.png?t=1747983895"
                        alt="{{theme_settings.brand_item1_link}}" class="object-cover w-full h-full lazyload">
                </div>
                <div
                    class="absolute top-0 left-0 w-[55%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between md:gap-0 gap-4 rounded-2xl">
                    <div class="group-text">
                        <h3 class="text-white  text-md font-eina02">
                            Dash Cameras
                        </h3>
                        <p class="text-white text-[10px] md:text-[14px] font-sans">
                            Special discounts and great offers on Persil.
                        </p>
                    </div>
                    <a href="{{theme_settings.home_cate_link}}"
                        class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-[15px]"><span
                            class="text-sm font-tight font-semibold leading-[1] md:leading-[16px]">Shop Now</span></a>
                </div>
            </div>
            <div
                class="lg:col-span-4 sm:col-span-6 col-span-12 relative max-h-[136px] sm:max-h-[200px] overflow-hidden hover-zoom skeletor-loading">
                <div class="w-full h-full overflow-hidden bg-gray-100 custom-fadeZoom rounded-2xl" data-step-animate="5">
                    <img src="{{cdn 'img/loading.svg'}}"
                        data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/original/image-manager/banners-image-3.png?t=1747983896"
                        alt="{{theme_settings.brand_item1_link}}" class="object-cover w-full h-full lazyload">
                </div>
                <div
                    class="absolute top-0 left-0 w-[55%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between md:gap-0 gap-4 rounded-2xl">
                    <div class="group-text">
                        <h3 class="text-white  text-md font-eina02">
                            Subwoofer Enclosures
                        </h3>
                        <p class="text-white text-[10px] md:text-[14px] font-sans">
                            Special discounts and great offers on Persil.
                        </p>
                    </div>
                    <a href="{{theme_settings.home_cate_link}}"
                        class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-[15px]"><span
                            class="text-sm font-tight font-semibold leading-[1] md:leading-[16px]">Shop Now</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
