<div class="w-full mt-6 md:mt-20 banners-section">
    <div class="flex justify-between items-center md:mt-0 mt-6 font-eina02" data-section-load="animation">
        <h2 class="text-title-section custom-fadeInUp" data-step-animate="1">
            {{theme_settings.sectionFiveBannersTitle}}
        </h2>
    </div>

    <div class="w-full banners-section mt-4 md:mt-8" data-section-load="animation">
        <div class="grid grid-cols-12 gap-x-6 gap-y-6">
            <div
                class="sm:col-span-6 col-span-12 relative h-[164px] sm:h-[200px] rounded-[20px] overflow-hidden hover-zoom">
                <div class="w-full h-full bg-blue-gradient relative" data-step-animate="2">
                    <img src="{{cdn 'img/loading.svg'}}"
                        data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/320w/image-manager/{{theme_settings.sectionFiveBannerItem1Img}}"
                        alt="{{theme_settings.brand_item1_link}}" class="w-[200px] h-[200px] lazyload  absolute top-0 right-0 ">
                </div>
                <div
                    class="absolute top-0 left-0 w-[54%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between">
                    <div class="group-text">
                        <h3 class=" text-white text-md font-eina02">
                            {{theme_settings.sectionFiveBannerItem1Title}}
                        </h3>
                        <p class="text-white text-[10px] md:text-[14px] font-sans">
                            {{theme_settings.sectionFiveBannerItem1Desc}}
                        </p>
                    </div>
                    <a href="{{theme_settings.home_cate_link}}"
                        class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-5"><span
                            class="text-sm font-sans font-semibold">{{theme_settings.sectionFiveBannerItem1Btn}}</span></a>
                </div>
            </div>
            <div
                class="sm:col-span-6 col-span-12 relative h-[164px] sm:h-[200px] rounded-[20px] overflow-hidden hover-zoom skeletor-loading">
                <div class="w-full h-full bg-red-gradient custom-fadeZoom relative" data-step-animate="5">
                    <img src="{{cdn 'img/loading.svg'}}"
                        data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/320w/image-manager/{{theme_settings.sectionFiveBannerItem2Img}}"
                        alt="{{theme_settings.brand_item1_link}}" class="w-[200px] h-[200px] lazyload  absolute top-0 right-0 ">
                </div>
                <div
                    class="absolute top-0 left-0 w-[54%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between">
                <div class="group-text">
                    <h3 class=" text-white text-md font-eina02">
                        {{theme_settings.sectionFiveBannerItem2Title}}
                    </h3>
                    <p class="text-white text-[10px] md:text-[14px] font-sans">
                       {{theme_settings.sectionFiveBannerItem2Desc}}
                    </p>
                </div>
                    <a href="{{theme_settings.home_cate_link}}" class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-5"><span
                            class="text-sm font-sans font-semibold">{{theme_settings.sectionFiveBannerItem2Btn}}</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full mt-4 md:mt-8 banners-section">
        <div class="grid grid-cols-12 gap-x-6 gap-y-6" data-section-load="animation">
            <div
                class="lg:col-span-4 sm:col-span-6 col-span-12 relative max-h-[136px] sm:max-h-[200px] overflow-hidden hover-zoom skeletor-loading">
                <div class="w-full h-full bg-gray-100 overflow-hidden custom-fadeZoom rounded-2xl" data-step-animate="1">
                    <img src="{{cdn 'img/loading.svg'}}"
                        data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/320w/image-manager/{{theme_settings.sectionFiveBannerItem3Img}}"
                        alt="{{theme_settings.brand_item1_link}}" class="w-full h-full object-cover lazyload">
                </div>
                <div
                    class="absolute top-0 left-0 w-[55%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between md:gap-0 gap-4 rounded-2xl">
                    <div class="group-text">
                        <h3 class=" text-white text-md font-eina02">
                            {{theme_settings.sectionFiveBannerItem3Title}}
                        </h3>
                        <p class="text-white text-[10px] md:text-[14px] font-sans">
                            {{theme_settings.sectionFiveBannerItem3Desc}}
                        </p>
                    </div>
                    <a href="{{theme_settings.sectionFiveBannerItem3Link}}"
                        class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-[15px]"><span
                            class="text-sm font-tight font-semibold leading-[1] md:leading-[16px]">{{theme_settings.sectionFiveBannerItem3Btn}}</span></a>
                </div>
            </div>
            <div
                class="lg:col-span-4 sm:col-span-6 col-span-12 relative max-h-[136px] sm:max-h-[200px] overflow-hidden hover-zoom skeletor-loading">
                <div class="w-full h-full bg-gray-100 overflow-hidden custom-fadeZoom rounded-2xl" data-step-animate="3">
                    <img src="{{cdn 'img/loading.svg'}}"
                        data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/320w/image-manager/{{theme_settings.sectionFiveBannerItem4Img}}"
                        alt="{{theme_settings.brand_item1_link}}" class="w-full h-full object-cover lazyload">
                </div>
                <div
                    class="absolute top-0 left-0 w-[55%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between md:gap-0 gap-4 rounded-2xl">
                    <div class="group-text">
                        <h3 class=" text-white text-md font-eina02">
                            {{theme_settings.sectionFiveBannerItem4Title}}
                        </h3>
                        <p class="text-white text-[10px] md:text-[14px] font-sans">
                            {{theme_settings.sectionFiveBannerItem4Desc}}
                        </p>
                    </div>
                    <a href="{{theme_settings.sectionFiveBannerItem4Link}}"
                        class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-[15px]"><span
                            class="text-sm font-tight font-semibold leading-[1] md:leading-[16px]">{{theme_settings.sectionFiveBannerItem4Btn}}</span></a>
                </div>
            </div>
            <div
                class="lg:col-span-4 sm:col-span-6 col-span-12 relative max-h-[136px] sm:max-h-[200px] overflow-hidden hover-zoom skeletor-loading">
                <div class="w-full h-full bg-gray-100 overflow-hidden custom-fadeZoom rounded-2xl" data-step-animate="5">
                    <img src="{{cdn 'img/loading.svg'}}"
                        data-src="https://cdn11.bigcommerce.com/s-gsjfadk9v2/images/stencil/320w/image-manager/{{theme_settings.sectionFiveBannerItem5Img}}"
                        alt="{{theme_settings.brand_item1_link}}" class="w-full h-full object-cover lazyload">
                </div>
                <div
                    class="absolute top-0 left-0 w-[55%] h-full md:pl-6 md:py-6 pl-4 py-4 text-left flex flex-col justify-between md:gap-0 gap-4 rounded-2xl">
                    <div class="group-text">
                        <h3 class=" text-white text-md font-eina02">
                            {{theme_settings.sectionFiveBannerItem5Title}}
                        </h3>
                        <p class="text-white text-[10px] md:text-[14px] font-sans">
                            {{theme_settings.sectionFiveBannerItem5Desc}}
                        </p>
                    </div>
                    <a href="{{theme_settings.sectionFiveBannerItem5Link}}"
                        class="button button-style-2 mb-0 md:py-[10px] md:px-6 py-[10px] px-[15px]"><span
                            class="text-sm font-tight font-semibold leading-[1] md:leading-[16px]">{{theme_settings.sectionFiveBannerItem5Btn}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
