<div id="add-to-cart-wrapper" class="add-to-cart-wrapper" {{#unless product.can_purchase}}style="display: none"{{/unless}}>
    {{#if product.show_quantity_input}}
        {{inject 'productQuantityErrorMessage'  (lang 'products.quantity_error_message')}}
        <div class="form-field form-field--increments flex items-center gap-2">
            <label class="form-label form-label--alternate mb-0"
                   for="qty[]">{{lang 'products.quantity'}}</label>
                <div class="form-increment" data-quantity-change>
                    <button class="button button--icon text-[#1B0832]" data-action="dec">
                        <span class="is-srOnly">{{lang 'products.quantity_decrease' name=product.title}}</span>
                        <i class="icon" aria-hidden="true">
                            <svg>
                                <use href="#icon-minus"/>
                            </svg>
                        </i>
                    </button>
                    <input class="form-input form-input--incrementTotal"
                           id="qty[]"
                           name="qty[]"
                           type="tel"
                           value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                           data-quantity-min="{{product.min_purchase_quantity}}"
                           data-quantity-max="{{product.max_purchase_quantity}}"
                           min="1"
                           pattern="[0-9]*"
                           aria-live="polite">
                    <button class="button button--icon text-[#1B0832]" data-action="inc">
                        <span class="is-srOnly">{{lang 'products.quantity_increase' name=product.title}}</span>
                        <i class="icon" aria-hidden="true">
                            <svg>
                                <use href="#icon-plus"/>
                            </svg>
                        </i>
                    </button>
                </div>

                {{#if product.stock_level}}
                    <span class="text-[14px] leading-none tracking-[-0.07px] text-[#067647] font-normal md:tracking-[-0.08px] md:text-[16px]">In Stock <span data-product-stock>{{product.stock_level}}</span></span>
                {{/if}}
        </div>
    {{/if}}

    <div class="alertBox productAttributes-message" style="display:none">
        <div class="alertBox-column alertBox-icon">
            <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
        </div>
        <p class="alertBox-column alertBox-message"></p>
    </div>
    {{#or customer (unless settings.hide_price_from_guests)}}
        <div class="add-to-cart-buttons{{#if product.pre_order}} pre-order-buttons{{/if}}">
            <div class="form-action grid grid-cols-2 gap-3 md:gap-4 w-full">
                <div class="atc-button-wrapper">
                    <button class="button button--primary w-full mb-0" id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}">
                        <span>{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}</span>
                    </button>
                    <span class="product-status-message aria-description--hidden">{{lang 'products.adding_to_cart'}} {{lang 'category.add_cart_announcement'}}</span>
                </div>

                <div class="button-app-wrapper">
                    <a class="button button--primary w-full mb-0">
                        <span>Sezzle button</span>
                    </a>
                </div>
            </div>
            {{#if this.with_wallet_buttons}}
                <div class="add-to-cart-wallet-buttons" data-add-to-cart-wallet-buttons>
                    {{> components/common/wallet-buttons}}
                </div>
            {{/if}}
        </div>
    {{/or}}
</div>
